---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const docs = await getCollection("articles");

  return docs
    .sort((a, b) => a.id.localeCompare(b.id))
    .map((doc) => {
      const title = doc.id.replace(/\d{2}-/, "").replace(".mdoc", "");

      console.log(doc.id, title);

      return {
        params: {
          title,
        },
        props: {
          doc,
        },
      };
    });
}

const { doc } = Astro.props;

const { Content } = await render(doc);
---

<Layout title={doc.data.title} description={doc.data.description}>
  <article clsas="prose">
    <header class="flex flex-col not-prose mb-8">
      <h1 class="text-2xl font-bold mb-1 dark:text-gray-100">
        {doc.data.title}
      </h1>
      <time
        date-time={doc.data.created}
        class="flex items-center text-zinc-600 dark:text-zinc-400 text-xs"
      >
        {new Date(doc.data.created).toLocaleDateString()}
      </time>
    </header>
    <Content />
  </article>
</Layout>
