---

---

<footer
  class="mt-12 px-2 mb-8 flex text-sm border-t pt-4 dark:border-zinc-800 border-zinc-200"
>
  <p class="grow text-zinc-700 dark:text-zinc-300">Alfie Jones</p>
  <a
    href="https://github.com/alfiejones/alfiejones.dev"
    class="text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-200 text-sm underline"
  >
    Source
  </a>
</footer>
