---

---

<footer
  class="mt-12 mb-8 flex border-t border-zinc-200 px-2 pt-4 text-sm dark:border-zinc-800"
>
  <p class="grow text-zinc-700 dark:text-zinc-300">Alfie Jones</p>
  <a
    href="https://github.com/alfiejones/alfiejones.dev"
    class="text-sm text-zinc-500 underline hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-200"
  >
    Source
  </a>
</footer>
