---
import Toggle from "./Toggle.astro";
---

<header class="mb-5 flex w-full items-center space-x-4 md:mb-10">
  <a
    href="/"
    class="text-md rounded-lg px-2 py-1 pr-2 font-bold whitespace-nowrap hover:bg-zinc-950/5 md:text-lg dark:hover:bg-zinc-50/5"
  >
    Alfie Jones
  </a>
  <nav class="ml-auto">
    <ul class="flex space-x-4">
      {
        ["projects"].map((link) => (
          <li>
            <a
              href={`/${link}`}
              class="rounded-lg px-2 py-1 text-sm whitespace-nowrap hover:bg-zinc-950/5 dark:hover:bg-zinc-50/5"
            >
              {link.charAt(0).toUpperCase() + link.slice(1)}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Toggle />
</header>
