---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <Icon name="ph:briefcase-duotone" class="size-6 flex-none" />
    <span class="ml-3">Skills</span>
  </h2>
  <ol class="mt-6 space-y-4">
    <!-- {resume.map((role, roleIndex) => <Role key={roleIndex} role={role} />)} -->
  </ol>
  <Button as="a" href="#" variant="secondary" class="group mt-6 w-full">
    Download CV
    <Icon
      name="ph:download-simple"
      class="size-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
    />
  </Button>
</div>
