---
import "../styles/global.css";
import "@fontsource/inter";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Toggle from "../components/Toggle.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title} | Alfie Jones - Web developer and creator
    </title>
    <meta name="description" content={description} />
  </head>
  <body
    class="bg-zinc-50 p-4 pt-3 text-zinc-950 md:pt-6 dark:bg-zinc-900 dark:text-zinc-100"
  >
    <div class="mx-auto w-full max-w-2xl">
      <Header />
      <main class="px-2">
        <slot />
      </main>
      <Footer />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
